.env*
.git
.gitignore
.vercel
vendor
tests
build
phpunit*
README.md
LICENSE
Dockerfile
docker-compose*.yml
writable/cache/*
writable/debugbar/*
writable/logs/*
writable/session/*
writable/uploads/*
!writable/cache/index.html
!writable/debugbar/index.html
!writable/logs/index.html
!writable/session/index.html
!writable/uploads/index.html
